# Node / Angular
**/node_modules/
**/.angular/
**/dist/
**/coverage/

# .NET build output
**/bin/
**/obj/

# Logs
*.log
npm-debug.log*

# Environment files
.env
.env.*

# System files
.DS_Store
Thumbs.db
